

<% if user_signed_in? %>

Enter keywords you'd like to recieve updates on here. <br>

<div class="keyword_list">
<%= render "keywords/list" %>
</div>

<br>
<%= form_for @keyword, remote: true do |f| %>
<%= f.text_field :name %>
<%= f.submit "Add Keyword" %>
<% end %>
<br>
<br>

<h2>Feed <%= button_to "Refresh", "/articles", remote: true %>

</h2><p>(from the last 24 hours)</p>
<br>

<div class="article_list">
<%= render "articles/list" %>
</div>

<% end %>

