

<% if user_signed_in? %>

  Enter keywords you'd like to recieve updates on here. <br>

  <div class="keyword_list">
  <%= render "keywords/list" %>
  </div>

  <br>
  <%= form_for @keyword, remote: true do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "Add Keyword" %>
  <% end %>
  <br>
  <br>

  <h2>Feed</h2><h5> <%= button_to "Refresh", "/articles", remote: true %></h5><div id="loading">Loading<span id="dots"></span></div>
  <p>(from the last 24 hours)</p>
  <br>
  <%= form_for @keyword, remote: true, url: "/filter" do |f| %>
    <%= f.collection_select :id, current_user.keywords.order(:name),:id,:name, include_blank: "Show All" %>
    <%= f.submit "Filter by keyword"%>
  <% end %>

  <div class="article_list">
  <%= render "articles/list", :locals => {:articles => @articles} %>
  </div>

<%else %>
  <div align="center" class="container">
  Pubfeed automates your daily Pubmed searches. Sign up today.
  </div>
<%end%>