

<% if user_signed_in? %>


<div class="banner">
  <div class="jumbotron">
  <div class ="container">
    <strong><h3>Enter keywords you'd like to recieve updates on.</h3></strong>
      <%= form_for @keyword, remote: true do |f| %>
        <%= f.text_field :name %>
        <%= f.submit :style => "display: none;", class: "keyword_submit" %>
      <% end %>
      <div class="keyword_list">
        <%= render "keywords/list" %>
      </div>
  </div>
  </div>
</div>


  <br>
  <div class ="container">

  <h2>Feed</h2><h5> <%= button_to "Refresh", "/articles", remote: true %></h5><div id="loading">Loading<span id="dots"></span></div>
  <p>(from the last 24 hours)</p>
  <br>



  <div class="keyword_dropdown">
  <%= render "keywords/dropdown"%>
  </div>
</div>

<br>
<div class ="container">

  <div class="article_list">
  <%= render "articles/list", :locals => {:articles => @articles} %>
  </div>
</div>

<%else %>

<div class="banner">
  <div class="jumbotron home-signup">
  <div class ="container">
     <div align="center" class="container"> <br> <br>
  <h2> Pubfeed automates your daily Pubmed searches <br><br></h2>


<%= button_to "Sign up", new_user_registration_path,  {method: :get, class: 'navbar-link btn btn-primary btn-lg outline'}  %>

  </div> 
  </div>
  </div>
</div>

<%end%>